# Virtual Environment
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
media/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# System files
.DS_Store
Thumbs.db
