{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Моя Логістична Система{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'route_list' %}">Список маршрутів</a></li>
                <li><a href="{% url 'create_route' %}">Створити маршрут</a></li>
                <li><a href="{% url 'search_routes' %}">Пошук маршрутів</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Моя Логістична Система. Всі права захищені.</p>
    </footer>
</body>
</html>